body {
    padding: 0;
    background-color: #f2f2f2;
    transition: .2s all ease-in;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-wrapper {
    margin: 10px 30px;
}

.note-buttons svg {
    width: 140%;
    height: 140%;
}

.control-buttons, .notes-stats-wrapper {
    margin-bottom: 20px;
}

